body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
}

header {
    padding: 1rem;
}

footer {
    padding: 1rem;
}

main {
    container-type: size;
    display: flex;
    flex-direction: column;
    height: 100%;

    h2 {
        align-self: center;
    }
}

@container (min-width: 0) {
    .game-board {
        height: min(80cqw, 80cqh);
        width: min(80cqw, 80cqh);
    }
}

.game-board {
    align-self: center;

    background: rgb(148, 148, 148);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    min-width: fit-content;
    min-height: fit-content;

    .cell {
        outline: black 1px solid;
        /* font-size: 3rem; */
        /* font-weight: bold; */
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }
}


img {
    /* width: 100%; */
}

dialog {
    background-color: rgb(33 37 41 / 87%);
    width: 75%;
    height: 75%;
}
